.skill-badge {
  background: linear-gradient(
    180deg,
    rgba(57, 41, 94, 0.3) 0%,
    rgba(36, 32, 45, 0.3) 100%
  );
  color: white;
  transition: box-shadow 0.3s ease-in-out, background 0.3s ease-in-out,
    color 0.3s ease-in-out;
  box-shadow: none;
}

.skill-badge:hover {
  background: white;
  color: rgba(36, 32, 45, 0.9);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}
