@font-face {
  font-family: "Clash Display";
  src: url("./assets/fonts/clash-display/fonts/ClashDisplay-Variable.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 200 700;
}

html {
  min-width: 320px;
}

body {
  min-width: 320px;
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
